<div class="folio-container" [ngClass]="isFocused ? 'focused' : ''">
  <div class="folio-header d-flex">
    <div class="name-number d-flex" (click)="toggleFocus()">
      <i class="folio-number bi {{'bi-' + number + '-circle' + focusEnding}}"></i>
      <div class="folio-name">{{folioName}}</div>
    </div>
    <i class="expander bi" (click)="toggleExpander()"
       [ngClass]="isExpanded ? 'bi-arrows-angle-contract expanded' : 'bi-arrows-angle-expand contracted'"></i>
  </div>
  <div class="folio-body">
    <div class="folio-row d-flex" *ngFor="let row of content.itemDetails;">
      <span>{{row.itemName}}</span>
      <span>{{row.itemFee}}</span>
    </div>
    <div class="folio-row final-row"></div>
  </div>
</div>
