.folio-container {
  border-radius: 10px;
  border: 1px solid black;
  width: 400px;
//  height: 300px;
  font-size: 25px;

  .folio-header {
    padding: 0 15px;
    justify-content: space-between;
    height: 40px;
    align-items: center;

    .name-number {
      cursor: pointer;

      .folio-name {
        display: flex;
        align-items: center;
      }

      .folio-number {
        padding-right: 10px;
      }
    }

    .expander {
      cursor: pointer;
    }
  }

  .folio-body {
    font-size: 16px;

    .folio-row, .final-row {
      border-top: 1px solid black;
      height: 24px;
      justify-content: space-between;

      .item-name {
        padding-left: 15px;
      }
      .item-fee {
        padding-right: 13px;
      }
    }
  }
}
