<form [formGroup]="folioForm" class="folio-form-container">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter a name" formControlName="name">
  </mat-form-field>
  <div formArrayName="itemDetails">
    <div *ngFor="let unusedVariable of itemDetails.controls; let i=index">
      <div [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Item Name</mat-label>
          <input matInput placeholder="Enter an item name" formControlName="itemName" [style.width.px]="150">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput formControlName="itemFee" [style.width.px]="100" appCurrencyFormat [currencyCode]="'USD'">
        </mat-form-field>
        <button mat-raised-button (click)="removeItem(i)"><i class="bi bi-x-circle"></i></button>
      </div>
    </div>
  </div>
  <button mat-raised-button (click)="addItem()">Add Row</button>
</form>

