<div class="folio-page">
  <ng-container *ngIf="viewState === FolioState.CREATE">
    <ng-container *ngTemplateOutlet="createFolio"></ng-container>
  </ng-container>

  <ng-container *ngIf="viewState === FolioState.VIEW">
    <ng-container *ngTemplateOutlet="folioDisplay"></ng-container>
  </ng-container>
</div>


<ng-template #folioDisplay>
  <ng-container *ngFor="let data of fData; index as i">
    <div class="folio">
      <app-folio [content]="data" [folioName]="data.name" [number]="i + 1"
                 [partnerLength]="(i + 1) % 2 === 0 ? fData[i - 1].itemDetails.length : (!!fData[i + 1] ? fData[i + 1].itemDetails.length : 0)"></app-folio>
    </div>
  </ng-container>
</ng-template>

<ng-template #createFolio>
  <app-create-folio></app-create-folio>
</ng-template>
