<div class="folio-page" [ngClass]="viewState === FolioState.VIEW ? 'd-flex' : ''">
  <div class="logout-button" *ngIf="!isLoading">
    <button (click)="logout()">Log Out</button>
  </div>

  <ng-container *ngIf="isLoading">
    <ng-container *ngTemplateOutlet="loadingSymbol"></ng-container>
  </ng-container>

  <ng-container *ngIf="viewState === FolioState.CREATE && !isLoading">
    <ng-container *ngTemplateOutlet="createFolio"></ng-container>
  </ng-container>

  <ng-container *ngIf="viewState === FolioState.VIEW && !isLoading">
    <ng-container *ngTemplateOutlet="folioDisplay"></ng-container>
  </ng-container>
</div>

<ng-template #folioDisplay>
  <a (click)="viewState = FolioState.CREATE">Edit folios</a>
  <ng-container *ngFor="let data of fData; index as i">
    <div class="folio">
      <app-folio [content]="data" [folioName]="data.name" [number]="i + 1"
                 [partnerLength]="(i + 1) % 2 === 0 ? fData[i - 1].itemDetails.length : (!!fData[i + 1] ? fData[i + 1].itemDetails.length : 0)"></app-folio>
    </div>
  </ng-container>
</ng-template>

<ng-template #createFolio>
  <a *ngIf="fData.length > 0" (click)="switchToViewMode()">View Folios</a>
  <app-create-folio (emitViewStateChange)="switchToViewMode()"></app-create-folio>
</ng-template>

<ng-template #loadingSymbol>
  <mat-spinner></mat-spinner>
</ng-template>
