<div class="create-folio-container">
  <form [formGroup]="folioFormGroup">
    <mat-grid-list rowHeight="2:1" cols="2" formArrayName="folioForm" class="form-container">
      <mat-grid-tile *ngFor="let fForm of folioForm.controls; let i=index" class="create-form">
        <div [formGroupName]="i" class="form-group-container">
          <button class="remove-button" (click)="confirmGroupRemoval(i)">Remove Group</button>
          <!-- TODO - Find better (and clean) alternative to $any here -->
          <app-folio-create-form [formNumber]="i" [folioForm]="$any(fForm)" (emitGroupRemoval)="confirmGroupRemoval($event)"></app-folio-create-form>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="new-group-button">
        <button mat-raised-button (click)="addFolioGroup()"><i class="bi bi-plus-square"></i></button>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-raised-button (click)="onSubmit()" class="confirm-button">Confirm Changes</button>
  </form>
</div>
